.BlocksState{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.BlockchainState{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 140px;
    margin-top: 80px;
    background-color: #19191c;
    border-radius: 12px;
}

.BlockchainState span{
    color: white;
    font-size: 28px;
    font-family: Inter, monospace;
}

.BlocksStateUpdateButton{
    position: absolute;
    margin-left: 330px;
    margin-bottom: 80px;
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 40px;
}

.BlocksStateUpdateButton:hover{
    background-color: rgba(0,0,0,0.5);
}