.TransactionIO {
    width: 1200px;
    height: 300px;
    margin-top: 30px;
    background-color: #121213;
    display: flex;
    flex-direction: row;
}


.IOColum {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    max-height: 300px;
    width: 600px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #0a0a0f #1b1b1d;
}

.IOColum::-webkit-scrollbar {
    margin-left: 10px;
}

.IOName {
    color: white;
    font-family: Inter, monospace;
    margin-left: 100px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.IOName span {
    color: #67b0ff;
    cursor: pointer;
    margin-left: 100px;
}

.IO {
    display: flex;
    flex-direction: row;
}

.OIAddress {
    color: white;
    font-family: Inter, monospace;
    cursor: pointer;
    padding-bottom: 10px;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.IOColum span {
    color: #67b0ff;
    cursor: pointer;
    text-align: right;
    width: 95px;
}